{% extends 'base.html' %}


{% block title %}quip - All Challenges{% endblock title %}

{% block content %}
<div style="overflow-x: hidden;">
    <section class="header-container">
        <h1 class="challenges-header">All Challenges</h1>
        <!-- "<hr />"" is gross. fight me. -iz -->
        <!-- agree -->
        <hr>
    </section>
    <section class="challenge-container">
        <div class="challenge-list-container">
            {% for group in data %}
                {# todo: some js animation would be nice here. maybe they could rotate or  #}
                <div class="challenge-list">
                    <h1 style="color: {{group.color}}; font-family: '{{group.font}}';">{{ group.difficulty }}</h1>
                    {% for challenge in group.challenges %}
                        <div class="challenge-card-container">
                            <div class="challenge-card">
                                <h5 class="challenge-card-title">{{ challenge.function_name }}</h5>
                                <p class="challenge-card-text" style="width: 15em;">{{ challenge.description }}</p>
                                <a href="/challenges/{{ challenge.id }}" class="challenge-button">Go to challenge</a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>
</div>
{% endblock content %}